.centered {
  width: 760px;
  height: 900px;
  margin: 15px auto;
}

@media print {
  .centered {
    width: 210mm;
    height: 297mm;
    margin: 0 0;
  }
}

@page {
  margin: 0;
}

@media screen {
  .centered {
    border-radius: 1mm;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, .3) 5px 5px 8px;
  }
}

.centered:after {
  clear: both;
}

.personal {
  width: 25%;
  height: 267mm;
  float: left;
}

.career {
  width: 75%;
  height: 267mm;
  float: left;
  background-color: rgb(255, 255, 255);
  padding: 15px;
}
