.name {
  font-family: Oswald;
  font-weight: 700;
  font-size: 18pt;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}

.profileimage {
  background-image: url(/images/bnc.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

  width: 158px;
  height: 158px;
  margin: 0 auto;

  border-radius: 50%;
  border: 3px solid white;
}

.careerstep {
  margin: 5px 0;
}

.careerstep h4 {
  font-size: 0.9em;
}

.careerstep span {
  display: block;
  font-style: italic;
}

.hobby {
  display: block;
  float: left;
  text-align: center;
  margin: 1mm;
}

.hobby .hobbyIcon {
  display: block;
  width: 12mm;
  height: 12mm;

  background-size: cover;
  border-radius: 50%;
  border: 0.5mm white solid;
}

.hobbyIcon.coding  { background-image: url(/images/coding.png); }
.hobbyIcon.cooking { background-image: url(/images/cooking.png); }
.hobbyIcon.vfx     { background-image: url(/images/vfx.png); }

.hobby .hobbyName {
  clear: both;
  padding: 100mm 0;
}
