.name {
  font-family: Oswald;
  font-weight: 700;
  font-size: 18pt;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}

.profileimage {
  background-image: url(/images/bnc.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

  width: 158px;
  height: 158px;
  margin: 0 auto;

  border-radius: 50%;
  border: 3px solid white;
}

.careerstep {
  margin: 5px 0;
}

.careerstep h4 {
  font-size: 0.9em;
}

.careerstep span {
  display: block;
  font-style: italic;
}
