.skills {
  margin: 5px;
}

.skills:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.skill {
  background-color: rgb(16, 16, 88);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 5px 5px 0 0;
  float: left;
}
